@import "blink";

body {
  background-color: #eee;
}

.big-text {
  font-size: 5em;
}

.space-top {
  margin-top: 15px;
}

input[type="text"]{
    background-color: transparent;
    border: 0px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width:5px;
}
