{{#liquid-bind gallery  class="slider" as |pictures|}}

  {{#each pictures as |picture|}}
    <div class="col-md-3 pic-wrapper" data-image-id="{{picture.id}}">
      {{container-pic/image image=picture}}
    </div>
    {{else}}
      <div class="col-md-12 text-center">
        No pictures found for #{{tag}}
      </div>
  {{/each}}
{{/liquid-bind}}
