{{#liquid-if gallery class="pic-container"}}

  {{#liquid-bind gallery class="slider" as |pictures|}}
    {{#each pictures as |picture|}}
      <div class="col-xs-6 col-sm-4 col-md-3 pic-wrapper" data-image-id="{{picture.id}}">
        {{container-pic/image image=picture}}
      </div>
    {{/each}}
  {{/liquid-bind}}

{{else}}
  <div class="col-md-12 text-center text-muted">
    No pictures yet. Try a different tag or wait for a refresh.
  </div>

{{/liquid-if}}
