<form class="form-inline">
  <div class="form-group">
    <label for="timeInput"><i class="fa fa-refresh fa-2x text-muted"></i></label>
    {{input value=refreshTime class="form-control input-alt skinny" id="timeInput" placeholder="10"}}
  </div>
  <div class="form-group">
    <label for="tagInput" class="big-text text-muted">#</label>
    {{input value=tag class="form-control input-alt" id="tagInput" placeholder="Dota2"}}
  </div>
</form>
