<form class="form-inline">
  <div class="form-group">
    <label for="tagInput" class="big-text">#</label>
    {{input value=tag class="form-control text-center" id="tagInput" placeholder="Cat"}}
  </div>
</form>
